<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../img/icon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Giant Revolt Advanced 3 - SportGraphix</title>
</head>
<body>
    <div class="top-bar">
        ¡Envio gratis a todo el país y 3, 6, o 12 cuotas fijas!
    </div>
    <!-- Header -->
    <header>
        <div class="search">
            <form action="/search" method="get">
                <input type="text" class="search-bar" placeholder="¿Qué estás buscando?" name="search">
        </div>
        <div class="logo">
            <a href="../../../index.html">
                <img src="../../img/logo-sporgraphix-2.png" alt="SportGraphix">
            </a>
        </div>
        <div class="login"> 
            <a href="../createaccount.html"><button type="button" class="btn btn-custom">Crear cuenta</button></a>
            <a href="../login.html"><button type="button" class="btn btn-custom">Iniciar sesión</button></a> 
        </div>
    </header>
    <!-- Navbar -->
    <nav>
        <div class="bar">
            <a href="../bikes.html">Bicicletas</a>
            <a href="../componentes.html">Componentes</a>
            <a href="../accesorios.html">Accesorios</a>
            <a href="../indumentaria.html">Indumentaria</a>
    </nav>
    <!-- Principal -->
    <div class="article">
        <div class="categories">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../../../index.html">HOME</a></li>
                <li class="breadcrumb-item"><a href="../bikes.html">BICICLETAS</a></li>
                <li class="breadcrumb-item"><a href="../bikes/gravel.html">GRAVEL</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giant Revolt Advanced 3</li>
                </ol>
            </nav>
        </div>
        <main>
            <article class="product-article">
                <div class="product-main">
                    <figure class="article-image">
                        <img src="../../img/Revolt Andvanced 3.webp" alt="">
                    </figure>
                    <header class="article-header">
                        <h1>Giant Revolt Advanced 3</h1>
                        <p class="price">$3.681.000</p>
                        <div class="size">
                            <div class="btn-group dropend">
                                <button class="btn btn-custom dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Seleccionar talle
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">S</a></li>
                                    <li><a class="dropdown-item" href="#">M</a></li>
                                    <li><a class="dropdown-item" href="#">L</a></li>
                                </ul>
                            </div>
                        </div>
                        <a href="" class="btn btn-custom">COMPRAR</a>
                    </header>
                    <section class="article-details">
                        <h2>Descripción del Producto</h2>
                        <p>Grava rápida, grava rugosa, pavimento o tierra. Independientemente de cómo elijas rodar, esta bicicleta lo hace todo. un nuevo cuadro de carbono y una distancia entre ejes ajustable la hacen más capaz que nunca.</p>
                        <p>Con un cuadro compuesto liviano de grado avanzado diseñado para el cumplimiento, Revolt Advanced te permite superar tus límites en terrenos variables. Una horquilla compuesta absorbe los baches, y el poste de asiento y el manubrio D-Fuse absorben los impactos y las vibraciones. Un chip giratorio en la puntera trasera ajusta la distancia entre ejes y el espacio libre de los neumáticos. Los detalles, incluido un sistema de montaje inteligente para portabultos y accesorios, le brindan una ventaja inicial en cualquier misión de conducción de grava.</p>
                    </section>
                </div>
            </article>
        </main>
    </div>
    <!-- Footer -->
    <footer>
        <p class="phrase">I can, I will</p>
        <p>&copy; SportGraphix, Potrero Digital 2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>